#container {
	padding: 90px 10px 0px 10px;
	margin-bottom: 0;
}

#container + div {
	margin-top: 0;
	padding-top: 0;
}

.navbar-inner {
  background-color: #ac2f3c;
  background-image: none;
}

.navbar .divider-vertical {
  border-right: 1px solid #cf6262;
  border-left: 1px solid #cf6262;
}

.navbar .brand img {
	max-height: 20px;
	margin-left: 10px;
}

.navbar .brand {
  color: #fff;
  text-shadow: 0 1px 0 #cf6262;
  vertical-align: middle;
}

.navbar-text {
  margin-bottom: 0;
  line-height: 40px;
  color: #fff;
}

.navbar .nav > li > a {
  color: #fff;
  text-shadow: 0 1px 0 #cf6262;
}

.nav-pills li a,
.nav-pills li a:hover,
.nav-pills li a:focus {
  color: #ffffff;
  background-color: #2c7db1;
}

.nav-pills li a.active {
  background-color: #ac2f3c;
}

img.cover {
	width: 100%;
}

img.author {
	float: left;
	margin-right: 10px;
	background-color:#fff;
	top:0;
	left:0;
	width:120px;
	height:120px;
	border:4px solid #fff;
	-webkit-box-shadow:0 0 2px 0 #808080;
	box-shadow:0 0 2px 0 #808080;
	border-radius:600px;
	-webkit-border-radius:600px;
	background-position:center center;
	background-size:100% auto;
	-webkit-background-size:100% auto;
	-moz-background-size:100% auto;
	background-repeat:no-repeat
}

h1 {
	font-size: 3em;
	text-align: center;
	margin-bottom: 30px;
}

	h2, h3 {
		border-bottom: 1px solid black;
	}

	h3, h4, iframe {
		margin-top: 30px;
	}

	p.pop.btn {
		margin-bottom: 20px;
	}

	.toc {
		margin-top: 30px;
	}

	.carousel-control {
	  top: 0;
	  margin-top: 10px;
	}

	.carousel {
		padding-top: 0px;
	}

	.carousel-inner {
		padding-top: 60px;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}

	.block {
		padding-top: 20px;
	}

	.block pre {
		margin-left: 0;
		text-indent: 0;
	}