	body {
	}

	h1 {
		font-size: 3em;
		text-align: center;
		margin-bottom: 30px;
	}

	h2, h3 {
		border-bottom: 1px solid black;
	}

	h3, h4, iframe {
		margin-top: 30px;
	}

	p.pop.btn {
		margin-bottom: 20px;
	}

	#container {
	}

	#widget {
		width: 100%;
		margin-top: 30px;
	}

	#widgetBody{
		border: 2px solid #DEDEDE;
	}

	#widgetBody div {
		float: left;
		/*padding:7px;*/
	}

	#widgetbody pre {
		border-width: 0;
		padding-left: 20px;
	}

	#codeZone {
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
	}

	#codeComments{
		padding-top: 20px;
	}

	#widgetImage {
		text-align: center;
	}

	#widgetBody img, #widgetBody iframe {
		padding: 0;
		margin: 0;
		width: 100%;
	}

	#progress {
		padding: 3px;
		background-color: #fff;
		color: #000;
		margin-right: 10px;
		margin-left: 15px;
		float: left;
	}

	#widgetTitle {
		float: right;
		text-align: right;
	}

	#widgetTitle h3{
		font-weight: normal;
		font-size: 1.5em;
		margin: 0 15px 0 0;
		padding: 0;
		border-bottom: 0px solid black;
	}