<html>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
var data = <%= page_data %>;

$(window).load(function () {

	$("#widgetTitle h3").html(data.title);
	var imgDiv = $("<div>");
	imgDiv.attr("id", "widgetImage");

	var codeDiv = $("<div>");
	codeDiv.attr("id", "codeZone");

	var scriptTag = $("<pre>");
	codeDiv.append(scriptTag);

	var commentsDiv = $("<div>");
	commentsDiv.attr("id", "codeComments");
	var commentsList = $("<ul>");
	
	commentsDiv.append(commentsList);

	$("#widgetBody").prepend(commentsDiv);
	$("#widgetBody").prepend(codeDiv);
	$("#widgetBody").prepend(imgDiv);

	var currentVersion = 0;
	var numVersions = data.results.length;

	var updateProgress = function(){
		$("#progress").html((currentVersion+1) + "/" + numVersions);
	};

	var updateLinks = function(){
		$("#next").show();
		$("#previous").show();

		if(currentVersion >= (numVersions - 1)){
			$("#next").hide();
		}

		if(currentVersion === 0){
			$("#previous").hide();
		}

		updateProgress();
	};

	var updateBody = function(){
		$("#widgetImage").html(data.results[currentVersion].illustration_embed);
		$("#widgetBody pre").html(data.results[currentVersion].code);
			
		$("#codeComments ul").empty();
		for(var i = 0; i < data.results[currentVersion].comments.length; i++){
			var comment = $("<li>")
			comment.html(data.results[currentVersion].comments[i]);
			commentsList.append(comment);
		}
	}

	updateProgress();
	updateLinks();
	updateBody();

	$("#next").click(function(){
		currentVersion = currentVersion + 1;
		updateLinks();
		updateBody();
		return false;
	});

	$("#previous").click(function(){
		currentVersion = currentVersion - 1;
		updateLinks();
		updateBody();
		return false;
	});
});
</script>
<style>
	#widget {
		width: 1300px;
	}

	#widgetBody{
		border: 3px solid #000;
	}

	#widgetBody div {
		width: 400px;
		float: left;
		padding:15px;
	}

	#codeZone {
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
	}

	#widgetBody img {
		/*width: 350px;*/
		/*padding: 25px;*/
		padding: 0;
		margin: 0;
		width: 100%;
	}

	.navButton {
		float:left;
		padding: 3px;
		padding-right: 50px;
		background-color: #000;
		margin-right: 10px;
		color: #fff;
	}

	#progress {
		padding: 3px;
		background-color: #fff;
		color: #000;
		margin-right: 10px;
		float: left;
	}

	#widgetControls a {
		color: #fff;
		font-weight: bold;
		text-decoration: none;
	}

	#widgetTitle {
		float: right;
		text-align: right;

	}

	#widgetTitle h3{
		margin: 0;
		padding: 0;
	}
</style>
<head>
</head>
<body>
	<div id="widget">
		<div id="widgetTitle"><h3>Title</hr></div>

		<div id="widgetControls">
			<div id="progress"></div>
			<div class="navButton" id="previous"><a href="#">Previous</a></div>
			<div class="navButton" id="next"><a href="#">Next</a></div>
		</div>

		<br style="clear:both" />
		<div id="widgetBody">
			<br style="clear:both;"/>
		</div>
	</div>
</body>
</html>