<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
var data = <%= page_data %>;

$(window).load(function () {

	$("#widgetTitle h3").html(data.title);
	var imgDiv = $("<div>");
	imgDiv.attr("id", "widgetImage");
	imgDiv.attr("class", "span4");
	// imgDiv.append("<img>");

	var codeDiv = $("<div>");
	codeDiv.attr("id", "codeZone");
	codeDiv.attr("class", "span5");

	var scriptTag = $("<pre>");
	codeDiv.append(scriptTag);

	var commentsDiv = $("<div>");
	commentsDiv.attr("id", "codeComments");
	commentsDiv.attr("class", "span3");
	var commentsList = $("<ul>");
	
	commentsDiv.append(commentsList);

	$("#widgetBody").prepend(commentsDiv);
	$("#widgetBody").prepend(codeDiv);
	$("#widgetBody").prepend(imgDiv);

	var currentVersion = 0;
	var numVersions = data.results.length;

	var updateProgress = function(){
		$("#progress").html((currentVersion+1) + "/" + numVersions);
	};

	var updateLinks = function(){
		$("#next").show();
		$("#previous").show();

		if(currentVersion >= (numVersions - 1)){
			$("#next").hide();
		}

		if(currentVersion === 0){
			$("#previous").hide();
		}

		updateProgress();
	};

	var updateBody = function(){
		$("#widgetImage").html(data.results[currentVersion].illustration_embed);
		$("#widgetBody pre").html(data.results[currentVersion].code);
			
		$("#codeComments ul").empty();
		for(var i = 0; i < data.results[currentVersion].comments.length; i++){
			var comment = $("<li>")
			comment.html(data.results[currentVersion].comments[i]);
			commentsList.append(comment);
		}
	}

	updateProgress();
	updateLinks();
	updateBody();

	$("#next").click(function(){
		currentVersion = currentVersion + 1;
		updateLinks();
		updateBody();
		return false;
	});

	$("#previous").click(function(){
		currentVersion = currentVersion - 1;
		updateLinks();
		updateBody();
		return false;
	});
});
</script>

<script>
$(function ()  
{ $(".pop").popover({placement: 'bottom'});  
});  
</script>

<script src="js/bootstrap.min.js"></script>

<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="css/bootstrap-responsive.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet" type="text/css" />

</head>
<body>
	<div id="container" class="row-fluid">
		<div class="span8 offset2">
			<!--INSERT CONTENT HERE-->
		</div>
	</div>

	<div id="widget">
		<div id="widgetTitle"><h3>Title</h3></div>

		<div id="widgetControls">
			<div id="progress"></div>
			<div class="navButton btn" id="previous"><a href="#">Previous</a></div>
			<div class="navButton btn" id="next"><a href="#">Next</a></div>
		</div>

		<br style="clear:both" />
		<div id="widgetBody" class="row">
			<br style="clear:both;"/>
		</div>
	</div>
</body>
</html>