<div id="container" class="row-fluid">
	<div class="span3 offset2">
		<img src="" alt="cover" class="cover" />
		<ul class="nav nav-pills nav-stacked">
			<li><a href="#" class="active">Buy Now</a></li>
			<li><a href="#">Sign In</a></li>
			<li><a href="https://github.com/atduskgreg/opencv-processing-book">Fork on Github</a></li>
		</ul>
		<img src="http://b.vimeocdn.com/ps/445/445208_300.jpg" class="author" />
		<h4>About the Author</h4>
		<p>Greg Borenstein<br />@atduskgreg</p>
	</div>
	<div class="span5">
		<%= @landingpage %>
	</div>
</div>
