<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="css/bootstrap-responsive.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet" type="text/css" />

</head>
<body>
	<div id="container" class="row-fluid">
		<div class="span3 offset2">
			<img src="" alt="cover" class="cover" />
			<ul class="nav nav-pills nav-stacked">
				<li><a href="#" class="active">Buy Now</a></li>
				<li><a href="#">Sign In</a></li>
				<li><a href="https://github.com/atduskgreg/opencv-processing-book">Fork on Github</a></li>
			</ul>
			<img src="http://b.vimeocdn.com/ps/445/445208_300.jpg" class="author" />
			<h4>About the Author</h4>
			<p>Greg Borenstein<br />@atduskgreg</p>
		</div>
		<div class="span5">
			<%= @landingpage %>
		</div>
	</div>
</body>
</html>
